// BGs
$color-bg-dark: #353f5b;
$color-bg-light: #423a6f;
$color-bg-input: #252c40;

// Texts
$color-text-main: #ffffff;
$color-text-placeholder: #555e65;

// border
$color-input-border: #284e84;
$color-border: #252c4033;

// icons
$color-icon-delete: rgb(248, 123, 123);
